/* Some styles if you can write some good css too */
body{
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #240b36, #c31432) cover;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #240b36, #c31432) cover; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
color: whitesmoke;
text-align: center;
}

input{
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    border: 0px solid gray;
    background-color: #4949496b;
}

fas{
    background-color: 
}